:root {
  /* Primary Colors */
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);
  /* Gradients Colors */
  --light-slate-blue: hsl(252, 100%, 67%); /* Background */
  --light-royal-blue: hsl(241, 81%, 54%);  /* Background */
  --violet-blue: hsla(256, 72%, 46%, 1);   /* Circle */
  --persian-blue: hsla(241, 72%, 46%, 0);   /* Circle */
  /* Neutural */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%); 
  --dark-gray-blue: hsl(224, 30%, 27%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Hanken Grotesk', sans-serif;
}

h2 {
  font-weight: 700;
}


.result {
  background-image: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
  text-align: center;
  padding: 25px 45px 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.result h2 {
  color: var(--light-lavender)
}
.result .score-container{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: linear-gradient(var(--violet-blue), var(--persian-blue));
  margin: 20px auto 25px;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}
.result .score-container .score {
  color: var(--white);
  font-size: 55px;
  font-weight: 800;
}

.result .score-container .total {
  color: hsl(243, 50%, 73%);
  font-weight: 600;
  font-size: 17px;
}

.result .msg h3 {
  font-weight: 700;
  font-size: 25px;
  color: var(--white);
  margin-bottom: 10px;
}

.result .msg p {
  color: var(--light-lavender);
  line-height: 1.4;
  font-size: 18px;
}

.summary {
  padding: 30px;
}

.summary .details {
  margin-top: 25px;
  margin-bottom: 22px;
}

.summary .details .box {
  background-color:hsl(241, 100%, 89%);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-weight: 700;
}
.summary .details .box:not(.visual) {
  margin-bottom: 18px;
}

.summary .details .box > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.summary .box .score {
  color: var(--dark-gray-blue);
}

.summary .box .total {
  color: #999;
}

.summary .box.reaction {
  background-color: hsla(0, 100%, 67%, 7%);
}

.summary .box.reaction div:first-of-type span {
  color: var(--light-red)
}

.summary .box.memory {
  background-color: hsla(39, 100%, 56%, 7%);
}

.summary .box.memory div:first-of-type span {
  color: var(--orangey-yellow)
}

.summary .box.verbal {
  background-color: hsla(166, 100%, 37%, 7%);
}

.summary .box.verbal div:first-of-type span {
  color: var(--green-teal)
}

.summary .box.memory div:first-of-type span {
  color: var(--orangey-yellow)
}

.summary .box.visual {
  background-color: hsla(234, 85%, 45%, 7%);
}

.summary .box.visual div:first-of-type span {
  color: var(--cobalt-blue);
}

.summary button {
  width: 100%;
  background-color: var(--dark-gray-blue);
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  padding: 15px 0;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s;
}

.summary button:hover {
  background-color: var(--cobalt-blue)
}

@media (min-width: 650px) {
  .container {
    margin: 100px auto 0;
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 20px 20px -3px #0000ff17;
    border-radius: 30px;
  }
  .result {
    flex: 50%;
    border-radius: 30px;
  }
  .result .score-container {
    width: 200px;
    height: 200px;
  }
  .result p {
      width: 250px;
      line-height: 1.6;
  }
  .summary {
    flex: 50%
  }
}
